body {
	background: url(../img/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	color: white;
	margin: 20px 50px 50px;
	font-size: 16px;
	font-family: Arial,"黑体","幼圆";
	background-color: #dd0000;
}

.milky {
	font-size: 66px;
	color: yellow;
	text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
	font-weight: bold;
	text-align: center;
}

.lucky-one {
	margin: 5px;
	display: inline-block;
	position: relative;
}

.lucky-one > .photo-frame {
	width: 128px;
	height: 128px;
	overflow: hidden;
	border: 2px solid yellow;
	border-radius: 5px;
	background: #efefef;
}

.lucky-one > .photo-frame > .photo {
	width: 128px;
	margin-top: -5px;
}

.lucky-one > .name {
	width: 128px;
	height: 20px;
	text-align: center;
	overflow: hidden;
}

.lucky-one > .btn-unlucky {
	position: absolute;
	
	width: 20px;
	height: 20px;
	top: 106px;
	left: 106px;
	
	border-top-left-radius: 5px;
	border-bottom-right-radius: 3px;
	
	cursor: pointer;
	background: red; /*#d7d7d7;*/
	text-align: center;
}